.doorOutline {
  height: 44%;
  width: 22%;
  position: absolute;
  top: 24%;
  right: 40%;
  border: none;
  outline: transparent;
}

.end-button {
  background-color: white;
  color: white;
}

/* ========== RESPONSIVE: MOBILE ========== */
@media (max-width: 767px) {
  .doorOutline {
    height: 40%;
    width: 24%;
  }
}
