.andy {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 37%;
  left: 40%;
  z-index: 1500;
}

.tiffany {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 37%;
  left: 5%;
  z-index: 1500;
}

/* ========== RESPONSIVE: TABLET / iPAD ========== */
@media (max-width: 1024px) {
  .andy,
  .tiffany {
    height: 45vh;
    width: 28%;
  }

  .andy {
    left: 38%;
  }
}

/* ========== RESPONSIVE: MOBILE ========== */
@media (max-width: 767px) {
  .andy,
  .tiffany {
    height: auto;
    width: 30%;
    max-height: 55%;
  }

  .andy {
    top: 35%;
    left: 38%;
  }

  .tiffany {
    top: 35%;
    left: 5%;
  }
}

/* ========== RESPONSIVE: SMALL MOBILE ========== */
@media (max-width: 480px) {
  .andy,
  .tiffany {
    width: 32%;
    max-height: 50%;
  }
}
