.cop {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 70%;
}

.cop-suspect {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 70%;
  z-index: 2500;
}

/* ========== RESPONSIVE: TABLET / iPAD ========== */
@media (max-width: 1024px) {
  .cop,
  .cop-suspect {
    height: 45vh;
    width: 28%;
  }
}

/* ========== RESPONSIVE: MOBILE ========== */
@media (max-width: 767px) {
  .cop,
  .cop-suspect {
    height: auto;
    width: 28%;
    max-height: 55%;
    top: 42%;
    left: 72%;
  }
}

/* ========== RESPONSIVE: SMALL MOBILE ========== */
@media (max-width: 480px) {
  .cop,
  .cop-suspect {
    width: 30%;
    max-height: 50%;
    top: 45%;
    left: 70%;
  }
}
