.envelopeOutline{
  height: 4%;
  width: 4%;
  position: absolute;
  border: none;
  outline: transparent;
}

#envelopeOne{
  top: 2%;
  left: 15%;
}

#envelopeTwo{
  top: 2%;
  left: 20%;
}

#envelopeThree{
  top: 2%;
  left: 25%;
}

#envelopeFour{
  top: 2%;
  left: 30%;
}

#envelopeFive{
  top: 2%;
  left: 35%;
}

#envelopeSix{
  top: 2%;
  left: 40%;
}

#envelopeSeven{
  top: 2%;
  left: 45%;
}