body {
  background: lightblue;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.navbar {
  background: #141a19;
  margin-bottom: 50px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.backgroundImage {
  height: 100vh;
  width: 99.9%;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid black;
  box-shadow: 0 8px 16px 15px rgba(0, 0, 0, 0.2);
}

.inventory {
  position: fixed;
  padding-right: 20px;
}

.EndingText {
  height: auto;
  width: auto;
  background: #dde3e8;
  top: -1000px;
  left: 0px;
  z-index: inherit;
}

.bubble {
  z-index: 1000;
  height: auto;
  width: 45%;
  position: absolute;
  background: #dde3e8;
  display: block;
  margin: 30px;
  padding: 15px 65px 15px 15px;
  border-radius: 20px;
  border: 1px solid black;
  bottom: 100px;
  left: 20%;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}