.mirrorOutline {
  height: 30%;
  width: 19.5%;
  position: absolute;
  top: 15.5%;
  left: 0.1%;
  border: none;
  outline: transparent;
}

/* ========== RESPONSIVE: MOBILE ========== */
@media (max-width: 767px) {
  .mirrorOutline {
    height: 28%;
    width: 22%;
  }
}
